<footer>

  <section id="kontakt" class="container content-section">
    <div class="row">
        <div class="col-md-3">
          <p>Cup of coffee: <span id="coffee_counter" class="counter"></span> and counting</p>
        </div>
        <div class="col-md-3">
          <p>Lines of code: <span id="code_counter" class="counter"></span> and counting</p>
        </div>
        <div class="col-md-3">
          <p>destroyed keyboards: 3</p>
        </div>
        <div class="col-md-3 text-right">
            <p>Marvin Oßwald <br/> Im Rosenhain 12 71563 Affalterbach</p>
        </div>
        <div class=" text-center">
            <p><a href="mailto:mail@marvinosswald.de">mail (at) marvinosswald.de</a></p>
        </div>
    </div>
</section>

  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="{{ "/bower_components/semantic-ui/dist/semantic.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/owl.carousel.js" | prepand: site.baeurl}}"></script>
  <script src="{{ "/js/jquery.magnific-popup.min.js" | prepand: site.baeurl}}"></script>
  <script src="{{ "/js/app.js" | prepand: site.baeurl}}"></script>

</footer>
