<section id="online" class="content-section text-center">
    <div class="online-section">
        <div class="row">
            <a target="_blank" href="http://www.github.com/marvinosswald"><div id="github" class="col-md-4 social"><i style="color: #000;" class="fa fa-github fa-5x"></i></div></a>
            <a target="_blank" href="http://www.facebook.com/marivn.osswald"><div id="facebook" class="col-md-4 social"><i class="fa fa-facebook fa-5x"></i></div></a>
            <a target="_blank" href="http://www.twitter.com/marvoss_"><div id="twitter" class="col-md-4 social"><i class="fa fa-twitter fa-5x"></i></div></a>
        </div>
        <div class="row">
            <a target="_blank" href="http://stackoverflow.com/users/1577384/marvin-osswald"><div id="stackoverflow" class="col-md-4 social"><img id="so-icon" src="img/so-icon.png"></i></div></a>
            <a target="_blank" href="http://vimeo.com/user12940610"><div id="vimeo" class="col-md-4 social"></div></a>
            <a target="_blank" href="http://www.flickr.com/photos/113087911@N02/"><div id="flickr" class="col-md-4 social"><i class="fa fa-flickr fa-5x"></i></div></a>
        </div>
    </div>
</section>
