<div>
  <div class="ui card">
    <div class="image dimmable">
      {% if page.cards.size > 0 %}
        <div class="owl-cards owl-carousel gallery">
          {% for card in page.cards %}
          <a href="/img/work/{{page.nick}}/{{card}}{{page.gal.big}}.png"><img src="/img/work/{{page.nick}}/{{card}}.png"></a>
          {% endfor %}
        </div>
      {% else %}
      <img src="/img/work/{{page.nick}}/card.png">
      {% endif %}
    </div>
    <div class="content">
      <div class="header">{{page.title}}</div>
      <div class="meta">
        <a class="group">{{page.subtitle}}</a>
      </div>
      <div class="description">{{content}}</div>
    </div>
    <div class="extra content">
      <div class="left floated">
      {% for tech in page.technologies %}
      <img class="ui image" src="/img/technologies/{{tech}}.png" alt="{{tech}}"  >
      {% endfor %}
      </div>
      {% if page.more %}
        {% if page.more.type%}
          {% if page.more.type == 'gallery' %}
          <a href="{{page.more.link}}" class="right floated gallery" style="line-height: 30px;">details</a>
          {% else %}
          <a href="{{page.more.link}}" class="right floated {{page.more.type}}-popup" style="line-height: 30px;">details</a>
          {% endif %}
        {% else %}
        <a href="{{page.more}}" target="_blank" class="right floated" style="line-height: 30px;">details</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
